html{
    background-color: blanchedalmond;
}

.título{
    h1{
        background-color: chocolate;
        text-align: center;
        border-radius: 15px;
        padding-top: 15px;
        padding-bottom: 10px;

    }
}

.características{
    h2[
        text-align: center;
        
    ]
    p{
        text-align: center;
        color: burlywood;
        font-weight: ;

    }
}